#body {
    background-color: rgb(27, 26, 26);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#blurred-background {
    background: linear-gradient(to right, #1955fa85, #474b8656);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    color: white;
}

#token {
    margin-top: 15px;
    margin-bottom: 15px;
}

h4 {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#progressBar {
    accent-color: rgba(47, 118, 209, 0.959);
  }
