#body {
    background-color: rgb(27, 26, 26);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#blurred-background {
    /* background-color: #4158D0;
    background-image: linear-gradient(125deg, #4158D0 0%, #C850C0 59%, #FFCC70 100%); */
    background-color: #6cb5fdbe;
    background-image: linear-gradient(62deg, #6cb5fdbe 0%, #cfa0fccc 100%);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    color: white;
}

#token {
    margin-top: 15px;
    margin-bottom: 15px;
}

h4 {
    color: rgb(255, 255, 255);
    background-color: rgba(88, 88, 88, 0.404);
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#progressBar {
    accent-color: rgba(82, 54, 136, 0.959);
}

#countdown {
    font-size: smaller;
}
